@tailwind base;
@tailwind components;
@tailwind utilities;

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}


:root {
  font-family: "Space Mono", Helvetica, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 800;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ------------------------------------------------ */
.context-menu {
  position: fixed;
  /* background: #242424; */
  /* background: #ffffff; */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
  /* border-radius: 4px; */
  /* padding: 8px 0; */
  /* min-width: 150px; */
  display: none;
}

#context-menu-l {
  float: left;
  /* background: green; */
}

#context-menu-r {
  float: right;
  /* background: red; */
}

#item-1 {
  background-image: url("./assets/icons/Draven profile icon.webp");
  background-size: auto;
  /* margin: 0 8px 0px 0; */
}

#item-2 {
  background-image: url("./assets/icons/Teemo Party Icon.webp");
  background-size: auto;
}

#item-3 {
  background-image: url("./assets/icons/Evil Pumpkin icon.webp");
  background-size: auto;
}

#item-4 {
  background-image: url("./assets/icons/Gemstone Prince icon.webp");
  background-size: auto;
}

#item-5 {
  background-image: url("./assets/icons/Golden Spatula icon.webp");
  background-size: auto;
}

#item-6 {
  background-image: url("./assets/icons/Pengu Ruby profileicon.webp");
  background-size: auto;
}

#item-7 {
  background-image: url("./assets/icons/Red-Nosed Poro icon.webp");
  background-size: auto;
}

#item-8 {
  background-image: url("./assets/icons/Royal Doggo profile icon.webp");
  background-size: auto;
}

#item-9 {
  background-image: url("./assets/icons/Rift Scuttler icon.webp");
  background-size: auto;
}

#item-10 {
  background-image: url("./assets/icons/Summoner icon Gingerbread Man.webp");
  background-size: auto;
}

.context-menu-item {
  display: none;
  position: absolute;
  padding: 8px 16px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: opacity 0.1s ease-in-out,
            all 0.2s ease-in-out; 
  opacity: 0;
}

.context-menu-item.ready {
  cursor: pointer;
}

.context-menu-item:hover { transform: scale(1.1); }
